/*---- MAIN ----*/
@media screen and (max-width: 375px){
    .main{
        background-color: $light-gray;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .card{
            margin-top: 100px;
            margin-bottom: 100px;
            max-width: 85%;
            border-radius: 20px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            background-color: $white;
            gap: 25px;
            img{
                margin-top: 15px;
                max-width: 90%;
                border-radius: 10px;
            }
            h1{
                max-width: 80%;
                color: $dark-blue;
                font-size: $h1-font-size;
                text-align: center;
            }
            p{
                max-width: 80%;
                padding-bottom: 50px;
                color: $grayish-blue;
                font-size: $p-font-size;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 375px){

}