/*---- MAIN ----*/
@media screen and (max-width: 375px){
    .main{
        background-color: $light-gray;
        @include flexbox(flex, column, nowrap, center, center);
        .card{
            margin-top: 100px;
            margin-bottom: 150px;
            max-width: 85%;
            border-radius: 20px;
            @include flexbox(flex, column, nowrap, center, center);
            background-color: $white;
            gap: 25px;
            box-shadow: 5px $grayish-blue;
            img{
                margin-top: 15px;
                max-width: 90%;
                border-radius: 10px;
            }
            h1{
                max-width: 80%;
                color: $dark-blue;
                font-size: $h1-font-size;
                text-align: center;
            }
            p{
                max-width: 80%;
                padding-bottom: 50px;
                color: $grayish-blue;
                font-size: $p-font-size;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 375px){
    .main{
        background-color: $light-gray;
        @include flexbox(flex, row, nowrap, center, center);
        .card{
            width: 300px;
            margin-top: 150px;
            margin-bottom: 250px;
            border-radius: 25px;
            @include flexbox(flex, column, nowrap, center, center);
            background-color: $white;
            gap: 25px;
            box-shadow: 5px $grayish-blue;
            img{
                margin-top: 20px;
                max-width: 90%;
                border-radius: 10px;
            }
            h1{
                max-width: 80%;
                color: $dark-blue;
                font-size: $h1-font-size;
                text-align: center;
            }
            p{
                max-width: 80%;
                padding-bottom: 50px;
                color: $grayish-blue;
                font-size: $p-font-size;
                text-align: center;
            }
        }
    }
}